<div id="scrollTop-1-{{sign}}" v-cloak>
    <div class="scrollTop-1-content" v-if="show">
        <div class="scrollTop">
            <img src="/images/platform/scroll/top.png" alt="中国供销海外购-正品保障、全网低价、跨境商品、海淘、网红爆品、明星同款">
        </div>
    </div>
</div>