<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="zh-CN" class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if lt IE 8]> <html lang="zh-CN" class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if lt IE 9]> <html lang="zh-CN" class="ie lt-ie9"> <![endif]-->
<!--[if gte IE 9]><html lang="zh-CN" class="ie gte-ie9"><![endif]-->
<html lang="zh-CN">
<head>
<title>英国Kiddylicious 童之味牌 蓝莓泡泡米饼40g</title>
<meta charset="UTF-8">
<meta name="keywords" content="英国Kiddylicious 童之味牌 蓝莓泡泡米饼40g(英国)--福利商城">
<meta name="description" content="英国Kiddylicious 童之味牌 蓝莓泡泡米饼40g(英国)--福利商城">
<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" id="viewport" content="width=750, user-scalable=no">
<link rel="shortcut icon" href="/images/platform/ico_mp.ico" id="ico">
<link rel="stylesheet" href="/frames/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/fonts/iconFont/css/iconFont.css">
<link rel="stylesheet" href="/css/page/page-mall-fmp.min.css">
</head>
<body>
<div id='body-header'>
<div id="header-1-1" v-cloak>
    <div class="header-1-content">
        <span class="header-left">
            <a href="javascript:void(0)" class="btn text text_login" v-if="text_login">返回登录</a>
            <a href="javascript:void(0)" class="btn icon icon_back"  v-if="icon_back"></a>
            <a href="javascript:void(0)" class="btn icon icon_home"  v-if="icon_home"></a>
            <a href="javascript:void(0)" class="btn icon icon_scan"  v-if="icon_scan"></a>
        </span>
        <div class="header-title title_shop" v-if="title_shop">
            <div class="shopImg">
                <img :src="shopInfo.headImg" alt="中国供销海外购">
            </div>
            <div class="shopText">
                <span>{{shopInfo.name}}</span>
                <span>{{shopInfo.description}}</span>
            </div>
        </div>
        <span class="header-title title_text" v-if="!title_shop && title_text">
            {{title_text}}
        </span>
        <template v-if="input">
            <span class="header-input">
                <form action="javascript:void(0)">
                    <i class="i_search"></i>
                    <input type="search" :placeholder="title">
                    <i class="i_clear"></i>
                </form>
            </span>
        </template>
        <span class="header-right">
            <a href="javascript:void(0)" class="btn icon icon_search" v-if="icon_search"></a>
            <template v-if="icon_shopCart">
                <a href="javascript:void(0)" class="icon icon_shopCart">
                     <span class="shopCartCount" v-if="shopCartCount">{{shopCartCount}}</span>
                </a>
            </template>
            <a href="javascript:void(0)" class="btn icon icon_AddressManage" v-if="icon_AddressManage"></a>
            <a href="javascript:void(0)" class="btn icon icon_AddressSure"   v-if="icon_AddressSure"></a>
            <a href="javascript:void(0)" class="btn icon icon_shopCartEdit"  v-if="icon_shopCartEdit"></a>
            <a href="javascript:void(0)" class="btn icon icon_shopCartSave"  v-if="icon_shopCartSave"></a>
            <a href="javascript:void(0)" class="btn icon icon_orderList"     v-if="icon_orderList"></a>
            <a href="javascript:void(0)" class="btn icon icon_choose"        v-if="icon_choose"></a>
            <a href="javascript:void(0)" class="btn icon icon_close"         v-if="icon_close"></a>
            <a href="javascript:void(0)" class="btn icon icon_news"          v-if="icon_news"></a>
            <a href="javascript:void(0)" class="btn text input_cancel"       v-if="input_cancel">取消</a>
            <template v-if="info_shop">
                <div class="info_shop">
                    <div class="shopImg">
                        <img :src="shopInfo.headImg" alt="中国供销海外购">
                    </div>
                    <div class="shopText">
                        <span>{{shopInfo.name}}</span>
                        <span>{{shopInfo.description}}</span>
                    </div>
                </div>
            </template>
        </span>
    </div>
</div>
</div>
<div id='body-center'>
<div id="goodsDetail-1-1" v-cloak>
        <div class="goodsDetail-1-content">
            <div class="goodsDetail-banner">
                <div class="banner-bannerImg">
                    <ul>
                            <li class="bannerImg_li">
                                <a href="javascript:void(0)" target="_blank">
                                    <img src="/images/platform/account/default_img.jpg" alt="英国Kiddylicious 童之味牌 蓝莓泡泡米饼40g">
                                </a>
                            </li>
                            <img class="corner_mark" :src="imgSrc(2)" alt="英国Kiddylicious 童之味牌 蓝莓泡泡米饼40g">
                    </ul>
                </div>
                <span class="banner-carousel-text">
                    <span class="index">1</span>
                    /
                    <span class="total">
                        1
                    </span>
                </span>
            </div>
            <div class="goodsDetail-description">
                <div class="text">
                    <img src="/images/platform/commodity/descript.png" style="margin-right:10px" alt="英国Kiddylicious 童之味牌 蓝莓泡泡米饼40g">
                        <span>暂无商品相关描述</span>
                </div>
                <div class="tagBox" v-if="itemContTagList">
                    <span class="icon" :class="item" v-for="item in getTags(itemContTagList)"></span>
                </div>
            </div>
            <div class="goodsDetail-goodsMsg">
                <ul>
                    <li>
                        英国Kiddylicious 童之味牌 蓝莓泡泡米饼40g
                    </li>
                    <li>
                        <template v-if="itemContTag && itemContTag.preSaleName">
                            <span class="corner_icon" v-html="itemContTag.preSaleName"></span>
                            {{itemContTag.preSaleDesc? (itemContTag.preSaleDesc): '预售商品发货需要等待'}}
                        </template>
                    </li>
                    <li>
                        <span class="price">￥{{rakebackSpcRealPrice}}</span>
                        <span class="real" v-if="itemContCode !== 'itemHide'" v-html="'￥' + spcRealPrice"></span>
                    </li>
                    <li>
                        <template v-if="itemContCode !== 'itemHide'">
                            <span>当前库存量: {{stock}}{{quantityDes? ',': ''}}</span>
                        </template>
                        <span v-if="!quantityDes">{{quantityDes}}</span>
                    </li>
                </ul>
                <div class="btnGroup">
                        <img src="/images/platform/city/英国.png" alt="中国供销海外购-英国">
                    <span>英国</span>
                </div>
            </div>
            <div class="goodsDetail-discount close" v-if="couponList && couponList.length">
                <ul>
                    <li :couponId="item.couponId" v-for="item in couponList">
                        <img src="/images/platform/goods/icon_discounts.png" alt="中国供销海外购">
                        <span>{{item.name}}</span>
                        <span class="btn btn_needReceive" v-if="item.receiveStatus != '1'">领取</span>
                        <span class="received" v-if="item.receiveStatus == '1'">已领取</span>
                    </li>
                </ul>
                <span class="btn btn_lookDetail" v-if="couponList && couponList.length > 2">展开</span>
            </div>
            <div class="goodsDetail-moreMsg">
                <ul>
                    <li>发货仓库：<span>{{returnSupplierName()}}</span></li>
                    <li>配送服务：<span>物流或快递</span></li>
                    <template v-html="returnMsg(, )"></template>
                    <li class="gauge" v-if="itemContCode !== 'itemHide' && spcCarton">产品箱规：<span>{{spcCarton}}</span></li>
                </ul>
            </div>
            <div class="goodsDetail-detailMsg">
                <h1>商品详情</h1>
                <div class="detailMsg">
                    <img src='/images/platform/goods/notice.jpg' v-if='imgType(2)' alt="英国Kiddylicious 童之味牌 蓝莓泡泡米饼40g"/>
                    <div class="detailMsgContent">
                    </div>
                </div>
            </div>
            <div class="goodsDetail-alert" v-show="alertShow" :itemContCode="itemContCode">
                <div class="goodsDetail-alert-body">
                    <div class="goodsDetail-alert-body-msg">
                        <div class="goodsDetail-alert-body-msg-left">
                            <a href="javascript:void(0)">
                                        <img src="/images/platform/account/default_img.jpg" alt="英国Kiddylicious 童之味牌 蓝莓泡泡米饼40g">
                                    <img class="corner_mark" :src="imgSrc(2)" alt="英国Kiddylicious 童之味牌 蓝莓泡泡米饼40g">
                            </a>
                        </div>
                        <div class="goodsDetail-alert-body-msg-right">
                            <ul>
                                <li class="name">
                                    <span class="corner_icon" v-if="itemContTag && itemContTag.preSaleName" v-html="itemContTag.preSaleName"></span>
                                    英国Kiddylicious 童之味牌 蓝莓泡泡米饼40g
                                </li>
                                <li class="price">
                                    <span>￥{{rakebackSpcRealPrice}}</span>
                                    <span class="real" v-html="'￥' + spcRealPrice"></span>
                                </li>
                                <li>
                                    <template v-if="itemContCode !== 'itemHide'">当前库存量为: {{stock}}</template>
                                </li>
                                <li>{{quantityDes}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="goodsDetail-alert-body-list" v-if="length">
                        <div class="goodsDetail-alert-body-item classifyGroup">
                            <template v-for="(item, key) in itemKey">
                                <h1>{{key}}</h1>
                                <ul>
                                    <li class="classify" :data-name="key" :data-val="it" v-for="it in item" v-if="it" @touchend="classifyTouchend">{{it}}</li>
                                </ul>
                            </template>
                        </div>
                    </div>
                    <div class="goodsDetail-quantity-group">
                        <div class="goodsDetail-quantity">
                            <span class="text">购买数量</span>
                            <span class="inputGroup">
                                <span class="btn btn_plus" @touchend="quantityTouchend"></span>
                                    <input type="number" pattern="[0-9]*" class="btn btn_input" v-model="quantity" @input="inputInput" @blur="inputBlur"/>
                                    <span class="btn btn_minus" @touchend="quantityTouchend"></span>
                                </span>
                        </div>
                    </div>
                </div>
                <img src="/images/platform/goods/icon_cancel.png" class="btn_cancel" alt="中国供销海外购">
            </div>
            <div class="goodsDetail-alert-bg" v-show="alertBgShow"></div>
        </div>
</div>
</div>
<div id='body-footer'>
<div id="footer-1-1" v-cloak>
    <div class="footer-1-content">
        <div class="footer-shortcutIcon icon_3" v-if="home">
            <a href="/index.html" class="icon icon_home" :class="home"></a>
        </div>
        <div class="footer-shortcutIcon icon_3" v-if="shoppingCart">
            <a href="/shoppingCart.html" class="icon icon_shoppingCart" :class="shoppingCart">
                <span class="number" v-if="isLogin && count">{{count}}</span>
            </a>
        </div>
        <div class="footer-shortcutIcon icon_3" v-if="personalCenter">
            <a href="/personal-center.html" class="icon icon_personal" :class="personalCenter"></a>
        </div>
        <div class="footer-goodsDetail" v-if="goodsDetail">
            <div class="btnBox">
                <a href="javascript:void(0)" class="btn icon_top small"></a>
                <a href="javascript:void(0)" class="btn icon_back small"></a>
                <a href="javascript:void(0)" class="btn text_toBuy large">立即购买</a>
                <a href="javascript:void(0)" class="btn text_addShopCart large">加入购物车</a>
            </div>
        </div>
    </div>
</div>
</div>
<div id="message-1-1" v-cloak>
    <div class="message-1-content completed" v-show="content && confirmBtn">
        <div class="message-header">
                <span class="message-text">
                    {{getHeaderText}}
                </span>
            <span class="message-icon" :class="typeClass"></span>
        </div>
        <div class="message-body">
            <table class="message-table">
                <tbody>
                <tr>
                    <td>
                        <span>{{content}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="message-footer">
              <span class="message-btnGroup">
                <a class="btn btn_confirm" v-show="confirmBtn">
                    {{language === 'en'? 'confirm': '确定'}}
                </a>
                <a class="btn btn_cancel" v-show="cancelBtn">
                    {{language === 'en'? 'cancel': '取消'}}
                </a>
            </span>
        </div>
    </div>
    <div class="message-1-content unCompleted" v-show="content && !confirmBtn">
        <div class="message-body">
            <table class="message-table">
                <tbody>
                    <tr>
                        <td>
                            <span>{{content}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="alertDiscount-1-1" v-cloak>
    <div class="alertDiscount-1-content" v-if="isShow">
        <div class="alertDiscount-show">
            <div class="msg-btn"></div>
            <div class="cancel-btn"></div>
        </div>
    </div>
</div>
<div id="searchHistory-1-1" v-cloak>
    <div class="searchHistory-1-content">
        <div class="searchHistory-cache" v-if="historyCache && historyCache.length">
            <h1>历史记录</h1>
            <span class="icon_delete">
               <img src="/images/platform/header/i_delete.png" alt="中国供销海外购">
            </span>
            <ul>
                <li :firstId="item.firstId" :secondId="item.secondId" :thirdId="item.thirdId" v-for="(item,index) in historyCache" v-if="index < 9">{{item.goodsName}}</li>
            </ul>
        </div>
    </div>
</div>
</body>
<script src="/frames/vue/dist/vue.min.js"></script>
<script src="/frames/jquery/dist/jquery.min.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="/frames/jquery.scrollMonitor/jquery.scrollMonitor.min.js"></script>
<script src="/frames/jquery-qrcode/dist/jquery-qrcode.min.js"></script>
<script src="/frames/jquery.roller/dist/jquery.roller.min.js"></script>
<script src="/frames/jquery.picker/dist/jquery.picker.min.js"></script>
<script src="/scripts/config/entity.js"></script>
<script src="/scripts/config/app.js"></script>
<script src="/scripts/config/event.js"></script>
<script src="/scripts/config/module.js"></script>
<script src="/scripts/page/goodsDetail.js"></script>
<script tag='module'>
window.app.setModule("message-1-1", "#message-1-1");
window.app.setModule("alertDiscount-1-1", "#alertDiscount-1-1");
window.app.setModule("header-1-1", "#header-1-1");
window.app.setModule("goodsDetail-1-1", "#goodsDetail-1-1");
window.app.setModule("footer-1-1", "#footer-1-1");
window.app.setModule("searchHistory-1-1", "#searchHistory-1-1");
</script>
</html>
