@charset "utf-8";

/*
 * activity-2样式
 */
[id^="activity-2-"] {
  width: 100%;
  min-width: 1240px;
  display: block;
  margin-bottom: 50px;
}
.activity-2-content {
  width: 1240px;
  display: block;
  overflow: hidden;
  margin: auto;
  &>.title{
    padding: 50px 0 8px;
    &>label{
      font-size: 24px;
      color: #333;
      margin-right: 5px;
    }
    &>span{
      font-size: 14px;
      color: #999;
    }
    &>a{
      float: right;
      margin-right: 20px;
      font-size: 14px;
      color: #666;
      line-height: 39px;
    }
  }
  &>.list-item{
    margin-right: 10px;
    width: 240px;
    height: 325px;
    overflow: hidden;
    background: #fff;
    float: left;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #efefef;
    &:last-child{
      margin-right: 0;
    }
    &>a{
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      &>.imgBox{
        width: 200px;
        height: 200px;
        margin: 15px 15px 9px 15px;
        overflow: hidden;
        position: relative;
        &>img{
          float: left;
          width: 100%;
          height: 100%;
        }
        &>.remark_icon{
          width: 50px;
          height: 50px;
          float: none;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      &>.goodsDesc{
        font-size: 14px;
        font-weight: bold;
        color: #f60;
        line-height: 20px;
        height: 20px;
        overflow: hidden;
        margin: 10px 15px 6px;
      }
      &>.goodsName{
        font-size: 12px;
        color: #999;
        padding: 0 15px;
        height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &>.goodsPrice{
        padding: 0 15px;
        margin: 5px 0;
        &>span{
          color: #6E56E8;
          font-size: 24px;
          display: inline-block;
        }
        &>s{
          font-size: 12px;
          color: #999;
          display: inline-block;
          margin-left: 5px;
        }
      }
    }
  }
}
