@charset "utf-8";

/*
 * banner-1样式
 */
[id^="themeBanner-1-"] {
  width: 100%;
  min-width: 1240px;
  display: block;
}
.themeBanner-1-content {
  width: 100%;
  height: 400px;
  display: block;
  margin: auto;
  position: relative;
  &>.themeBanner-bannerImg{
    width: 1920px;
    height: 100%;
    margin: 0 0 0 -960px;
    text-align: center;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 0;
    &>a.imgBox{
      width: 100%;
      height: 100%;
      display: block;
      &>img{
        width: auto;
        height: 100%;
      }
    }
  }
}
