<div id="prompt-1-{{sign}}" v-cloak>
    <div class="prompt-1-content">
        <div id="wrap">
            <div id="first">
                尊敬的中国供销海外购客户：您好！2018年在国家的支持下，跨境业务蓬勃发展，中国供销海外购在大家的共同努力下业绩高速增长。近期海关总署公告2018年第165号规定，自2019年1月1日起，跨境电商平台企业应当向海关开放支付相关原始数据，包括但不限于订单号、商品名称、交易金额、币值、收款人相关信息等供海关验核。为更好的服务客户，中国供销海外购严格遵照国家法律法规政策，现决定升级改造保税业务流程，自2018年12月28日起，暂停部分保税发货业务，恢复时间待另行通知。
            </div>
            <div id="last">
                尊敬的中国供销海外购客户：您好！2018年在国家的支持下，跨境业务蓬勃发展，中国供销海外购在大家的共同努力下业绩高速增长。近期海关总署公告2018年第165号规定，自2019年1月1日起，跨境电商平台企业应当向海关开放支付相关原始数据，包括但不限于订单号、商品名称、交易金额、币值、收款人相关信息等供海关验核。为更好的服务客户，中国供销海外购严格遵照国家法律法规政策，现决定升级改造保税业务流程，自2018年12月28日起，暂停部分保税发货业务，恢复时间待另行通知。
            </div>
        </div>
    </div>
</div>