<div id="themeNavInlet-2-{{sign}}" v-cloak>
    <div class="themeNavInlet-2-content">
        <h1>精选活动</h1>
        <ul>
            {{#each cont}}
                <li>
                    {{#if picPath}}
                        <a href="{{{href}}}" target="_blank" class="imgBox">
                            <img src="{{{picPath}}}" alt="中国供销海外购-正品保障、全网低价、跨境商品、海淘、网红爆品、明星同款">
                        </a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
</div>