<div id="goodsDetail-1-{{sign}}" v-cloak>
    {{#cont}}
        <div class="goodsDetail-1-content">
            <div class="goodsDetail-banner">
                <div class="banner-bannerImg">
                    <ul>
                        {{#each goodsFileList}}
                            <li class="bannerImg_li">
                                <a href="javascript:void(0)" target="_blank">
                                    <img src="{{#if path}}{{{path}}}{{else}}/images/platform/account/default_img.jpg{{/if}}" alt="{{customGoodsName}}">
                                </a>
                            </li>
                        {{/each}}
                        {{^goodsFileList}}
                            <li class="bannerImg_li">
                                <a href="javascript:void(0)" target="_blank">
                                    <img src="/images/platform/account/default_img.jpg" style="width:100%;height:100%;" alt="{{customGoodsName}}">
                                </a>
                            </li>
                        {{/goodsFileList}}
                        {{#isDef type}}
                            <img class="corner_mark" :src="imgSrc({{type}})" alt="{{customGoodsName}}">
                        {{/isDef}}
                        <template v-if="{{cont.goodsSpecsList}}">
                            <img class="remark_icon" :src="returnIconSrc({{cont.goodsSpecsList}})" alt="中国供销海外购-正品保障、全网低价、跨境商品、海淘、网红爆品、明星同款">
                        </template>
                    </ul>
                </div>
                <span class="banner-carousel-text">
                    <span class="index">1</span>
                    /
                    <span class="total">
                        {{#if goodsFileList.length}}{{goodsFileList.length}}{{else}}1{{/if}}
                    </span>
                </span>
            </div>
            <div class="goodsDetail-description">
                <div class="text">
                    <img src="/images/platform/commodity/descript.png" style="margin-right:10px" alt="{{customGoodsName}}">
                    {{#if description}}
                        <span>{{description}}</span>
                    {{else}}
                        <span>中国供销海外购</span>
                    {{/if}}
                </div>
                <div class="tagBox" v-if="itemContTagList">
                    <span class="icon" :class="item" v-for="item in getTags(itemContTagList)"></span>
                </div>
            </div>
            <div class="goodsDetail-goodsMsg">
                <ul>
                    <li>
                        {{customGoodsName}}
                    </li>
                    <li>
                        <template v-if="itemContTag && itemContTag.preSaleName">
                            <span class="corner_icon" v-html="itemContTag.preSaleName"></span>
                            {{!itemContTag.preSaleDesc? (itemContTag.preSaleDesc): '预售商品发货需要等待'}}
                        </template>
                    </li>
                    <li>
                        <span class="price">￥{{!spcRealPrice}}</span>
                        <span class="real" v-if="itemContCode !== 'itemHide'" v-html="spcPrice > spcRealPrice? ('￥原价:' + spcPrice): ''"></span>
                        {{!returnMsg(spcExciseTax, spcIncrementTax, spcPrice)}}
                    </li>
                    <li>
                        <template v-if="itemContCode !== 'itemHide'">
                            <span>当前库存量: {{!stock}}{{!quantityDes? ',': ''}}</span>
                        </template>
                        <span v-if="!quantityDes">{{!quantityDes}}</span>
                    </li>
                </ul>
                <div class="btnGroup">
                    {{#origin}}
                        <img src="/images/platform/city/{{origin}}.png" alt="中国供销海外购-{{origin}}">
                    {{/origin}}
                    <span>{{origin}}</span>
                </div>
            </div>
            <div class="goodsDetail-discount close" v-if="couponList && couponList.length">
                <ul>
                    <li :couponId="item.couponId" v-for="item in couponList">
                        <img src="/images/platform/goods/icon_discounts.png" alt="中国供销海外购-正品保障、全网低价、跨境商品、海淘、网红爆品、明星同款">
                        <span>{{!item.name}}</span>
                        <span class="btn btn_needReceive" v-if="item.receiveStatus != '1'">领取</span>
                        <span class="received" v-if="item.receiveStatus == '1'">已领取</span>
                    </li>
                </ul>
                <span class="btn btn_lookDetail" v-if="couponList && couponList.length > 2">展开</span>
            </div>
            <div class="goodsDetail-moreMsg">
                <ul>
                    <li>发货仓库：<span>{{!returnSupplierName()}}</span></li>
                    <li>配送服务：<span>{{toSetAttr type '2' '物流或快递' '快递配送'}}</span></li>
                    <!--<template v-html="returnMsg(spcExciseTax, spcIncrementTax)"></template>-->
                    <li class="gauge" v-if="itemContCode !== 'itemHide' && spcCarton">产品箱规：<span>{{!spcCarton}}</span></li>
                </ul>
            </div>
            <div class="goodsDetail-detailMsg">
                <h1>商品详情</h1>
                <div class="detailMsg">
                    <img src='/images/platform/goods/notice.jpg' v-if='imgType({{type}})' alt="{{customGoodsName}}"/>
                    <div class="detailMsgContent">
                        {{#toSplit detailPath ";"}}
                            {{#isFormat . 'image'}}
                                <img src='http://139.196.74.68:8080/images/orignal/detail/{{.}}' alt="{{customGoodsName}}">
                            {{/isFormat}}
                        {{/toSplit}}
                    </div>
                    <div class="userBook">
                        <div class="center">消费者告知书</div>
                        <p>
                            <span class="nickName">尊敬的客户您好：</span>
                            <span class="header">
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在您选购境外商品前，请您仔细阅读并完全理解本告知书的全部内容，对自身风险承担做出客观判断。认同本文所告知内容后再进行下单购买：
                            </span>
                                <span class="stage stage1">
                                <span class="path1">
                                    1、
                                </span>
                                <span class="path2">
                                    您在<b>中国供销海外购</b>网站上购买的境外商品为产地直销商品，仅限个人自用不得进行销售，商品本身可能无中文标签，您可参考网站翻译或在线联系我司客服。
                                </span>
                            </span>
                                <span class="stage stage2">
                                <span class="path1">
                                    2、
                                </span>
                                <span class="path2">
                                    您所购买的境外商品适用的品质、健康、标识等项目适用标准或与我国标准有所不同，所以在使用过程中由此可能产生的危害或损失以及其他风险，<b>中国供销海外购</b>不予承担任何责任，将由您个人承担。
                                </span>
                            </span>
                                <span class="stage stage3">
                                <span class="path1">
                                    3、
                                </span>
                                <span class="path2">
                                    身份信息问题
                                </span>
                                <span class="question">
                                    为什么要上传身份证？
                                </span>
                                <span class="answer">
                                    入境的包裹海关要求提供收件人的身份证资料（正反面照片）来确认包裹是否属于个人自用，中国供销海外购保证您的身份证信息仅作清关用途，将被严格保密。
                                </span>
                                <span class="question">
                                    身份证每次都上传吗？
                                </span>
                                <span class="answer">
                                    首次上传身份证后，只要使用相同的收件人姓名和手机号码，就无需再次上传身份证。如收件人姓名和首次上传不同，则需再次上传。
                                </span>
                                <span class="question">
                                    收件人和身份证姓名不一致怎么办？
                                </span>
                                <span class="answer">
                                    信息不完全相符会导致包裹在清关口岸需再次申报，请您提供正确信息给海外购平台客服，客服会通知物流公司向海关重新申报该包裹。重新申报流程会相应延误到货时间，建议提交订单前仔细确认，确保收件人和身份证姓名一致，身份证号及其他订单信息无误。建议收件人和订购人尽量为同一人。
                                </span>
                            </span>
                                <span class="footer">
                                <span class="block">以上一切最终解释权归<b>中国供销海外购</b>所有！</span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="goodsDetail-alert" v-show="alertShow" :itemContCode="itemContCode">
                <div class="goodsDetail-alert-body">
                    <div class="goodsDetail-alert-body-msg">
                        <div class="goodsDetail-alert-body-msg-left">
                            <a href="javascript:void(0)">
                                {{#each goodsFileList}}
                                    {{#toRange @index 0 1}}
                                        <img src="{{{path}}}" alt="{{customGoodsName}}">
                                    {{/toRange}}
                                {{/each}}
                                {{^goodsFileList}}
                                    <img src="/images/platform/account/default_img.jpg" alt="{{customGoodsName}}">
                                {{/goodsFileList}}
                                {{#isDef type}}
                                    <img class="corner_mark" :src="imgSrc({{type}})" alt="{{customGoodsName}}">
                                {{/isDef}}
                            </a>
                        </div>
                        <div class="goodsDetail-alert-body-msg-right">
                            <ul>
                                <li class="name">
                                    <span class="corner_icon" v-if="itemContTag && itemContTag.preSaleName" v-html="itemContTag.preSaleName"></span>
                                    {{customGoodsName}}
                                </li>
                                <li class="price">
                                    <span>￥{{!spcRealPrice}}</span>
                                    <span class="real" v-if="itemContCode !== 'itemHide'" v-html="spcPrice > spcRealPrice? ('￥原价:' + spcPrice): ''"></span>
                                </li>
                                <li>
                                    <template v-if="itemContCode !== 'itemHide'">当前库存量为: {{!stock}}</template>
                                </li>
                                <li>{{!quantityDes}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="goodsDetail-alert-body-list" v-if="length">
                        <div class="goodsDetail-alert-body-item classifyGroup">
                            <template v-for="(item, key) in itemKey">
                                <h1>{{!key}}</h1>
                                <ul>
                                    <li class="classify" :data-name="key" :data-val="it" v-for="it in item" v-if="it" @touchend="classifyTouchend">{{!it}}</li>
                                </ul>
                            </template>
                        </div>
                    </div>
                    <div class="goodsDetail-quantity-group">
                        <div class="goodsDetail-quantity">
                            <span class="text">购买数量</span>
                            <span class="inputGroup">
                                <span class="btn btn_plus" @touchend="quantityTouchend"></span>
                                    <input type="number" pattern="[0-9]*" class="btn btn_input" v-model="quantity" @input="inputInput" @blur="inputBlur"/>
                                    <span class="btn btn_minus" @touchend="quantityTouchend"></span>
                                </span>
                        </div>
                    </div>
                </div>
                <img src="/images/platform/goods/icon_cancel.png" class="btn_cancel" alt="中国供销海外购-正品保障、全网低价、跨境商品、海淘、网红爆品、明星同款">
            </div>
            <div class="goodsDetail-alert-bg" v-show="alertBgShow"></div>
        </div>
    {{/cont}}
</div>