@charset "utf-8";

/*
 * prompt-1样式
 */
[id^='prompt-1-']{
  width: 750px;
  display: block;
  position: relative;
}
.prompt-1-content {
  width: 750px;
  height: 36px;
  overflow: hidden;
  position: relative;
  background: #fff8db;
  #wrap {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
    background: #fff8db;
  }
  #wrap div {
    display: inline-block;
    font-size: 24px;
  }
}
