<div id="activity-2-{{sign}}" v-cloak>
    <div class="activity-2-content">
        <div class="title">
            <label>本周特卖</label>
            <span>WEEK SPECIAL</span>
        </div>
        {{#each cont}}
            <div class="list-item">
            <a href="{{href}}">
                <div class="imgBox">
                    <img src="{{picPath}}" alt="中国供销海外购">
                </div>
                <div class="goodsDesc">{{description}}</div>
                <div class="goodsName">{{title}}</div>
                <div class="goodsPrice">
                    <span>￥{{price}}</span>
                    <s>￥{{enname}}</s>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>