<div id="activity-3-{{sign}}" v-cloak>
    <div class="activity-3-content">
        <div class="title">
            <label>{{own.title}}</label>
            <span>{{own.enname}}</span>
            <a href="/search.html?upShelves=1&tag=新品推荐" target="_blank">
                查看更多 >>
            </a>
        </div>
        {{#each cont}}
            <div class="list-item">
            <a href="{{href}}" @click="setStatistics" id="{{goodsId}}">
                <div class="imgBox">
                    <img src="{{picPath}}" alt="中国供销海外购-正品保障、全网低价、跨境商品、海淘、网红爆品、明星同款">
                    <img class="remark_icon" src="/images/platform/page/icon_new.png" alt="中国供销海外购-正品保障、全网低价、跨境商品、海淘、网红爆品、明星同款">
                </div>
                <div class="goodsDesc">{{description}}</div>
                <div class="goodsName">{{title}}</div>
                <div class="goodsPrice">
                    <span>￥{{price}}</span>
                    <s>￥{{enname}}</s>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>