<div id="advertising-header-1-{{sign}}" v-cloak>
    <div class="advertising-header-1-content">
        <a href="{{#if own.href}}{{own.href}}{{else}}javascript:void(0){{/if}}">
            <img src="{{own.picPath}}" alt="中国供销海外购">
        </a>
    </div>
</div>