<div id="bargainRule-1-{{sign}}" v-cloak>
    <div class="bargainRule-content">
        <h1>什么是砍价活动</h1>
        <div class="title-desc">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>砍价活动</b>,是中国供销海外购官方为回馈消费者举办的福利活动,请放心参加。用户选择心仪的商品,发起砍价,分享给朋友邀请朋友帮忙砍价,获取更多优惠。
        </div>
        <div class="step-content">
            <div class="step-title">一、商城入口</div>
            <div class="step-desc-item">
                <div class="text">
                    <b>扫码进入</b>：通过扫描小程序专用的二维码进入供销精品海外购
                </div>
                <div class="imgBox">
                    <img style="width: 400px;border: none;" :src="miniPath" alt="中国供销海外购-正品保障、全网低价、跨境商品、海淘、网红爆品、明星同款">
                </div>
            </div>
            <!--<div class="step-desc-item">-->
            <!--<div class="text">-->
            <!--<b>搜索小程序进入</b>：通过搜索微信小程序进入供销精品海外购-->
            <!--</div>-->
            <!--<div class="imgBox">-->
            <!--<div class="imgDesc">第一步：打开微信，进入“发现”界面，点击“小程序”</div>-->
            <!--<img src="/images/platform/bargain/step_01.png" alt="中国供销海外购-正品保障、全网低价、跨境商品、海淘、网红爆品、明星同款">-->
            <!--<div class="imgDesc">第二步：进入“小程序”界面，点击右上角“搜索”按钮（放大镜）</div>-->
            <!--<img src="/images/platform/bargain/step_02.png" alt="中国供销海外购-正品保障、全网低价、跨境商品、海淘、网红爆品、明星同款">-->
            <!--<div class="imgDesc">第三步：进入“小程序搜索”界面，点击上方编辑栏，输入“供销精品海外购”，并按确认，就会出现如图所示，点击“供销精品海外购”</div>-->
            <!--<img src="/images/platform/bargain/step_03.png" alt="中国供销海外购-正品保障、全网低价、跨境商品、海淘、网红爆品、明星同款">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="step-desc-item">-->
            <!--<div class="text">-->
            <!--<b>公众号进入</b>：关注公众号“供销海外购”或“供销海外购微服务”，点击小程序按钮进入-->
            <!--</div>-->
            <!--<div class="imgBox">-->
            <!--<img src="/images/platform/bargain/step_04.png" alt="中国供销海外购-正品保障、全网低价、跨境商品、海淘、网红爆品、明星同款">-->
            <!--</div>-->
            <!--</div>-->
        </div>
        <div class="step-content">
            <div class="step-title">二、活动入口</div>
            <div class="step-desc-item">
                <div class="text">
                    <b>砍价专区</b>：商城首页点击“砍价专区”进入砍价活动
                </div>
                <div class="imgBox">
                    <img src="/images/platform/bargain/step_05.png" alt="中国供销海外购-正品保障、全网低价、跨境商品、海淘、网红爆品、明星同款">
                </div>
            </div>
        </div>
        <div class="step-content">
            <div class="step-title">三、选择商品</div>
            <div class="step-desc-item">
                <div class="text">
                    <b>砍价商品</b>：选择心仪的砍价商品，点击“去砍价”
                </div>
                <div class="imgBox">
                    <img src="/images/platform/bargain/step_06.png" alt="中国供销海外购-正品保障、全网低价、跨境商品、海淘、网红爆品、明星同款">
                </div>
            </div>
        </div>
        <div class="step-content">
            <div class="step-title">四、邀请砍价</div>
            <div class="step-desc-item">
                <div class="text">
                    <b>邀请好友砍价</b>：通过分享砍价信息邀请好友帮忙砍价，获得更多优惠
                </div>
                <div class="imgBox">
                    <img src="/images/platform/bargain/step_07.png" alt="中国供销海外购-正品保障、全网低价、跨境商品、海淘、网红爆品、明星同款">
                </div>
            </div>
        </div>
        <div class="step-content">
            <div class="step-title">五、立即购买</div>
            <div class="step-desc-item">
                <div class="text">
                    <b>购买商品</b>：砍价商品砍至最低价购买获得更多优惠，也可立即购买获取少量优惠
                </div>
                <div class="imgBox">
                    <img src="/images/platform/bargain/step_08.png" alt="中国供销海外购-正品保障、全网低价、跨境商品、海淘、网红爆品、明星同款">
                </div>
            </div>
        </div>
        <div class="step-content">
            <div class="step-title">六、我的砍价</div>
            <div class="step-desc-item">
                <div class="text">
                    <b>我的砍价</b>：点击“我的砍价”，可以看到所有自己已开砍价活动商品
                </div>
                <div class="imgBox">
                    <img src="/images/platform/bargain/step_09.png" alt="中国供销海外购-正品保障、全网低价、跨境商品、海淘、网红爆品、明星同款">
                </div>
            </div>
        </div>
        <div class="title-desc">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b style="color:#ff1104;">注意事项</b>,根据海关总署公告2016年第26号（关于跨境电子商务零售进出口商品有关监管事宜的公告），电子商务企业应对跨境电子商务零售进口商品的个人（订购人）身份信息进行核实，并向海关提供由国家主管部门认证的身份有效信息。无法提供或者无法核实订购人身份信息的，<b style="color:#ff1104;">订购人与支付人应当为同一人。</b>
        </div>
    </div>
</div>