<div id="themeNavInlet-1-{{sign}}" v-cloak>
    <div class="themeNavInlet-1-content">
        <ul>
            {{#each cont}}
                <li>
                    {{#if picPath}}
                        <a href="{{{href}}}" target="_blank" class="imgBox">
                            <img src="{{{picPath}}}" alt="中国供销海外购">
                        </a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
</div>